@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'), local('JosefinSlab'), url("../font/josefin.woff2") format('woff2');
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Josefin Slab', sans-serif;
}

.resumo {
    position: relative;
    width: 720px;
    margin: 0px auto;
    border-left: 5px solid black;
    margin-top: 100px;
    padding-left: 9px;
    height: 200px;
}

.resumo .resumo-text   , .resumo .resumo-text  a{
    color: black;
    width: 100%;
}
.resumo .resumo-text-2  , .resumo .resumo-text-2  a{
   color: white;
   width: 0;
}
.text a {
    text-decoration: none;
    font-weight: bold;
}

.resumo .resumo-bg {
    width: 0;
    height: 200px;
    position: absolute;
    background: black;
    z-index: 1;
    left: 0;
}

.text{
    line-height: 1.5;
    position: absolute;
    font-size: 21px;
    z-index: 3;
    padding-top: 8px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: clip;
}

object  , .text-line , .resumo-text-2{
    display: none;
}

/*tradução*/
.translate {
  position:absolute;
  top: 0;
  right: 0;
}

.translate .btn-trans:first-child {
    border:none;
}

.translate .btn-trans {
  border-left:1px solid black;
  background: white;
  float: left;
  padding: 2px 1px 1px 2px;
  cursor: pointer;
}

.translate .btn-trans.selected {
  background: black;
  color: white;
}
